
<!DOCTYPE html><html lang='en' class=''>
<hea ><script src='https://static.codepen.io/assets/editor/live/console_runner-1df7d3399bdc1f40995a35209755dcfd8c7547da127f6469fd81e5fba982f6af.js'></script><script src='https://static.codepen.io/assets/editor/live/css_reload-5619dc0905a68b2e6298901de54f73cefe4e079f65a75406858d92924b4938bf.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/aarongustafson/pen/ucJGv" />

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
<style class="cp-pen-styles">@charset "UTF-8";
body {
  padding: 1em;
}

table {
  border-style: none;
  border-top-width: 0;
  width: auto;
}
table tr {
  border-style: none;
  border-bottom-width: 0;
}
table th, table td {
  border-style: none;
  padding-right: 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-align: left;
  min-width: 50px;
  vertical-align: top;
}
table th.tool, table td.tool {
  padding: 0 1em;
}
table th + th,
table th + td,
table td + th,
table td + td {
  border-left-width: 1px;
}
table thead tr:last-child {
  border-bottom-width: 2px;
}
table thead th,
table tr.index th {
  font-size: 1.13333em;
  line-height: 1.41176em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
}
table thead th {
  border-bottom: 1px solid;
  padding-bottom: .25em;
}
table tr.index th {
  font-size: 1.33333em;
  line-height: 1.2em;
}
table tbody:first-of-type tr.index th {
  padding-top: 1em;
}
table tbody th {
  font-weight: normal;
}

@media (max-width: 47.9375em) {
  table {
    border: 0;
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: 1.4375em;
    padding-bottom: 0;
    display: block;
    width: 100%;
    /*
     * make everything display block so it 
     * aligns vertically
     */
    /* Labeling
     * adding a data-title attribute to the cells
     * lets us add text before the content to provide
     * the missing context
     * 
     * Markup: 
     *   <td data-title="Column Header">Content Here</td>
     * 
     * Display:
     *   Column Header: Content Here
     */
  }
  table caption {
    display: block;
  }
  table thead {
    display: none;
    visibility: hidden;
  }
  table tbody, table tr, table th, table td {
    border: 0;
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
  table tr {
    margin-bottom: 1.5em;
  }
  table th[data-title]:before,
  table td[data-title]:before {
    content: attr(data-title) ": ";
    font-weight: bold;
  }
  table th:not([data-title]) {
    font-weight: bold;
  }
  table td:empty {
    display: none;
  }
}
</style></head><body>


<table style="font-size: 30px" >
		<tr>
			<th style="font-size: 30px" scope ="col">Name : </th>
      <th> {{name}}</th>
    </tr>
    <tr>
			<th style="font-size: 30px" scope="col">Email : </th>
      <th>{{address}} </th>
    </tr>
    <tr>
			<th style="font-size: 30px" scope="col">State : </th>
      <th>{{state}} </th>
    </tr>
    <tr>
			<th style="font-size: 30px" scope="col">District : </th>
      <th >{{dist}}</th>
		</tr>
</table>
<a href="#####">Past 10 Months Patients Diagnosis Patterns</a><br>
<a href="####">Patients Next 10 months patients diagnosis Pattern </a><br>
<a href="###">Medicines Avalibility</a><br>
<a href="####">Physicians/Doctors Avalibility</a></br>


</body></html>